img {
    padding-bottom: ;
    
    display: flex ;
    width: 50%;
    height: 50%;
    border: cornflowerblue;
  
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
}

.box {
    width: 10rem;
    height: 10rem;
    position: relative;
    background-color: black;
    margin-left: 21%;
    margin-top: -16%;
    border-end-end-radius: 30%;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%; 
}

.box2 {
    width: 5rem;
    height: 5rem;
    position: relative;
    background-color: rgb(41, 58, 8);
    margin-left: 23%;
    margin-top: -5.5%;
    border-end-end-radius: 100%;
    border-top-right-radius: 50%;
    border-top-left-radius: 80%;
    border-bottom-left-radius:50%;
}