/* Created: 2021-12-07 */
/* Updated: 2021-12-07 */

/* Css externes (External)
/* Ordre d'application des CSS, principe du plus proche de la balise (sélecteur)
- inline
- embedding
- external
*/

/* Regroupement de sélécteurs (DRY) */
/* Sélecteur de type */
h1, 
h2, 
h3 {
	font-family: Verdana, sans-serif;
}

h1 {
	color: #7f0000;
}

h2 {
	color: #003c8f;
}

h3 {
	color: #ff6f00;
}

p {
	font-size: 20px;
}

/* Sélecteur de classe */
/* Une classe permet d'appliquer une exception sur une balise */
/* Classe universelle - portée globale */

.small {
	font-size: 16px;
}

/* Classe de sélecteur - portée limitée */

h2.color {
	color: rgb(19, 107, 2);
}