/* Created 2021-12-21 */


/* Alignements */


/* Horizontale */

.justify {
    text-align: justify;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.indent {
    text-indent: 5rem;
}

.w-s {
    word-spacing: 0.2rem;
}

.l-s {
    letter-spacing: 0.5rem;
}


/* Vertical*/

.l-h {
    line-height: 1.2rem;
}

.vertical {
    padding: 60px 0 ;
    text-align: center;
}

