/* Created 2021-12-21*/

/* texte en gras*/
.bold {
    font-weight : bold;
}

/* On enleve le gras du titre */
h2 {
 font-weight: normal;
}

/* Lighter ou bolder dépendent de l'élément parent */
.lighter {
    text-decoration: none;
    font-weight: lighter;
}

/* Font-style*/
/* Italic VS oblique 
Italic dépend de la typo que l'on va utiliser par ex google font . Si ce n'est pas spécifié dans la typo , c'est converti en oblique 
 */

.italic{
    font-style: italic;
}

i {
    font-style: normal;
}

em {
    font-style: normal;
    color: rgb(174, 7, 7);
}

/* La propriété Stretch permet de choisir la form normal, condensée ou étendue de police */
.stretch {
    font-stretch: extra-condensed;
}

/* petites majuscules */
.variant {
    font-variant: small-caps;
}

h3 {
    font-variant-caps: all-petite-caps;
}

/* Propriété de regroupement 

On va regrouper toute les propriétées de font dans la même propriétée

font-style
font-variant
font-weight
font-size/line-height
font-family
*/

.group {
    font: italic small-caps  1.2rem/1.1rem Verdana, sans-serif;
}


/* PROPRIETE TEXTE */
/* uppercase, capitalise,lowercase*/

.transform {
    text-transform: uppercase;
}

.deco {
    text-decoration: underline ;
}

.deco-multi {
    text-decoration-line: underline ;
    text-decoration-color: rgb(174, 7, 7);
    text-decoration-style: dotted; /* va mettre des points a la place du simple soulignement */
}

.shadow {
    font-size: 2rem;
    text-shadow: 7px 7px 1.5rem rgb(174, 7, 7); /* création d'une ombre de texte */
}
