/* Created 2021-12-21 */

.reset {
    margin: 0;
} /* il n'y aura que la content box qui va rester visible 
*/

.padding {
    padding: 2rem;
} /* on met 2 rem partout autour du content en padding  cela va créer de l'espace au dessu en dessous et sur les cotés du texte */

.borders {
    border: 1px solid rgb(93, 34, 255) ;
}/* on cré un bord visible tout autour de notre content*/ 

.margin {
    margin: 1.8rem;
}

.fieldset-size {
    min-height: 70px;
}/* on introduit une valeur minimal que le fieldset doit faire , si la taille est plus grande alors il va s'adapter automatiquement*/

.sizes {
    width: 50%;
    min-height: 140px;
    background-color: rgba(165, 42, 42, 0.774);
}/* avec le widht , la taille du texte ne dépassera pas  50% de la box dans laquel il est */

/* fusion des marges des paragraphes */
.fusion p {
    margin-top: 1.8rem ;
    margin-bottom: 3rem ; 
}
/* Element flottant*/
/* mise cote a cote de 2 p */
.box {
    width: 46%;
    padding: 1rem;
    float: left;  /* va nous permettre de faire floter le contenu ou le texte sur la gauche*/
    box-sizing: border-box;
}/* box sizing va recalculer le width pour tenir compte des padding et des border  (!!!! pas le margin) */

.clear {
    clear: both ;
}/* permet de maintenir du contenu en dessous des floats*/