/* created 2022/01/11 */
/* listes numérotées*/
.none {
    list-style-type: none; /* retirer les puces de la liste */
}

.alpha{
    list-style-type: upper-alpha;
}

.zero{
    list-style-type:decimal-leading-zero;
}

.position {
    list-style-position: inside;
}


/*Listes à puces*/

.circle{
    list-style-type: circle;
}

.image li {
    list-style-type: none;
    list-style-image: url('../img/pencil.png');
}

/* menu navigation liens */
nav {
    line-height: 70px; /* va pemrettre d'alligner les elements au centre de la nav  bare */
    background-color: #555;
    padding-left: 10rem;
}

.menu-links, /* application de la règles pour le menu bouttons du dessous aussi */
.menu-button {
    margin: 0;
    padding: 0;
}

.menu-links li {
    padding: 0.8rem;
    display: inline;
}

.menu-links a {
    color: #fff;
    text-decoration: none;
}
.menu-links a:hover {
    color: #ff8e4d;
}


/*menu boutton*/

.menu-button li{
    display: inline-block;
   
    
}
.menu-button a{
    margin: 0.5rem;
    padding: 0.8rem;
    color: white;
    text-decoration: none;
    background-color: #ff8e4d;
    border-radius:6px;
    ;
}
.menu-button a:hover {
    background-color:   #8b441b;
}