
.container {
	background-color: #999;
}

.container div {
	width: 15%;
	height: 50px;
	font-size: 1.6rem;
	color: #fff;
	text-align: center;
	line-height: 50px;

}

.item01 {
	background-color: #2196F3;
}

.item02 {
	background-color: #ff5722;
}

.item03 {
	background-color: #8bc34a;
}

.item04 {
	background-color: #607d8d;
}

/* EXERCICE 01 */
.ex01 {
	display: flex;
	justify-content: space-between;
}

/* EXERCICE 02 */
.ex02 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}

/* EXERCICE 03 */
.ex03 {
	display: flex;
}

.ex03 .item02 {
	order: 1;
	flex-grow: 1;
}

/* EXERCICE 04 */
.ex04 {
	display: flex;
	height: 100px;
}

.ex04 .item03 {
	align-self: flex-end;
}

/* EXERCICE 05 */
.ex05 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

/* EXERCICE 06 */
.ex06 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 250px;
}

/* EXERCICE 07 */
.ex07 {
	display: flex;
	justify-content: space-between;
}

/* utilisez le symbole > pour ne cibler que les enfants (pas tous les descendants) */
.ex07 >.item02 {
	display: flex;
	justify-content: space-between;
}

.ex07 .item02 .item02 {
	background-color: rgb(73, 73, 73);
}