/* CREATED ON 2022-02-24 */

nav {
    height: 60px;
    background-color: brown;
}

.slider {
    height: 300px;
    background-color: #bbb;
}

.about {
    display: flex;
    justify-content: space-evenly;
    height: 300px; /* les enfant vont avoir la meme hauteur que le parent*/
}

.about div {
    width: 40%;
    background-color: #999;
}

.team {
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.team div {
    width: 25%;
    background-color: #ccc;
}

footer {
    height: 70px;
    background-color: brown;
}